@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --dark-bg: #1f2937;
    --main-txt-color: #f9faf8;
    --secondary-txt-color: #e5e7eb;
    --logo-txt-color: #f9faf8;
    --btn-color: #3882f6;
    --info-txt-color: #1f2937;
    --section-bg: #e5e7eb;
    --quote-bg: #e5e7eb;
    --quote-txt-color: #1f2937;
}

body{
    display: flex; flex-direction: column; align-items: center;
    min-height: 100vh;
}

ul{
    list-style: none;
    display: flex; gap: 20px;
}

header, section{
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    padding: 2vw 10vw;
}
header, .hero, footer{
    background-color: var(--dark-bg);
}
.logo{
    color: var(--logo-txt-color);
    font-size: 24px;
}
header ul li > a, header li{
    color: var(--secondary-txt-color);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
header li>a:hover, header li:hover, .logo:hover{
    cursor: pointer;
    font-weight: bold;
    color: #3882f6;
}
.hero{
    width: 100vw;
    padding: 6vw 10vw;
    
}
.hero *{
    color: var(--secondary-txt-color);
}
.hero #hero-title{
    font-size: 40px;
    color: var(--logo-txt-color);
    width: 30vw;
}
#hero-subtext{
    width: 32vw;
    font-size: 18px;
}
.hero button, footer button{
    background-color: var(--btn-color);
    width: 12vw; height: 3vw;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-top: 0.5vw;
}
.hero button:hover, footer button:hover{
    cursor: pointer;
    filter: invert(1);
}
.hero-img{
    background-color: #6d747d;
    width: 35vw;
    height: 16vw;
    display: flex; justify-content: center; align-items: center;
    object-fit: cover;
    filter: brightness(1.3);
}

.random{
    flex-direction: column;
    padding-bottom: 8vw;
    gap: 4vw;
}

.random ul{
    gap: 4vw;
}
.info-item{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    gap: 0.5vw;
    color: #2e3c50;
}
.info-item:hover{
    cursor: pointer;
    color: #3882f6;
    font-weight: bold;
}
.info-img{
    height: 160px;
    width: 160px;
    border-radius: 20px;
    border: 2px solid var(--btn-color);
    object-fit: cover;
    filter: brightness(1.2);
}
.info-img:hover{
    border: 4px solid;
}
.info-txt{
    font-size: 20px;
    text-align: center;
    width: 150px;
}

.quote{
    background-color: var(--quote-bg);
    color: var(--quote-txt-color);
    font-size: 28px; font-style: italic; font-weight: 300;
    padding: 10vw 26vw;
}
.quote .footer{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.action{
    justify-content: center;
    padding: 6vw 10vw;
}
.action-box{
    display: flex; justify-content: space-between; align-items: center;
    background-color: var(--btn-color);
    width: 70vw; height: 8vw;
    padding: 2vw 8vw;
    border-radius: 5px;
}
.action-box button{
    border: 1px solid white;
    width: 12vw; height: 3vw;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    color: var(--main-txt-color);
}
.action-box button:hover{
    cursor: pointer;
    background-color: white;
    color: #3882f6;
}
.action-box h3{
    font-weight: 500;
    color: var(--main-txt-color);
}
.action-box p{
    color: var(--secondary-txt-color);
}

footer{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 2vw 0;
    color: #c4c6ca;
    font-size: 0.9rem;
    width: 100%; min-height: 5vw;
}

.power-img{
    object-position: right;
}

.footer-info{
    width: 100%; padding: 2vw;
    display: flex; gap: 4vw;
    grid-template-columns: repeat(2, 1fr);
}
footer .story{
    width: 40vw;
}
footer h4{
    font-weight: 400;
}
footer h4:hover{
    cursor: pointer;
    color: #3882f6;
}
footer .service > h2, footer .contact > h2{
    font-weight: 500;
    font-size: 24px;
}
footer .service, footer .contact{
    color: #e5e7eb;
    width: 30vw;
    display: flex; flex-direction: column; gap: 1vw;
}
footer button{
    width: 15vw; height: 3vw;
    font-weight: 500;
    text-transform: uppercase;
}
